force-app/main/default/flows/MR_DT_Service_Appointment_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>createSAs</name>
        <choiceText>Create additional Service Appointments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createSAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditExistingServiceApp</name>
        <choiceText>Edit Existing Service Appointments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>editExisingSAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoDelete</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoDelete</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesDelete</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YesDelete</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_SAs_Found</name>
        <label>Existing SAs Found</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>MR_DT_Service_Appointment_Creator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesExistingSAsFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_existing_Draft_SAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_existing_In_Progress_SAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_existing_non_Draft_SAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_would_you_like_to_do_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigate_to</name>
        <label>Navigate to</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_SAsOutcome</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createSAs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_all_Service_Appointments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_all_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>MR_DT_Service_Appointment_Creator</targetReference>
            </connector>
            <label>Create SAs</label>
        </rules>
        <rules>
            <name>Editing_Existing_SAsOutcome</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditExistingServiceApp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_all_Service_Appointments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_all_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MR_DT_Service_Appointment_Review</targetReference>
            </connector>
            <label>Editing Existing SAs</label>
        </rules>
        <rules>
            <name>Delete_All_SAsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_all_Service_Appointments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MR_DT_Delete_Service_Appointments</targetReference>
            </connector>
            <label>Delete All SAs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_RecordId_Provided</name>
        <label>Was RecordId Provided?</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Select_Work_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Main Flow - Branches to MR DT Service_Appointment Creator or MR DT Service_Appointment Review</description>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>MR DT Service_Appointment Main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi Resource Assignment Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>check for SAs that are MR Status Category of Draft. This indicates that the dispatcher created draft SAs in a previous step but never completed the process.</description>
        <name>Check_for_existing_Draft_SAs</name>
        <label>Check for existing Draft SAs</label>
        <locationX>512</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_SAs_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>check for SAs that are beyond Status Category none or Scheduled, for example dispatched. we use this to let the dispatcher know they might be updating service appointments that might already be in progress.</description>
        <name>Check_for_existing_In_Progress_SAs</name>
        <label>Check for existing In Progress SAs</label>
        <locationX>512</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_non_Draft_SAs</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 AND 4)</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>check for SAs that are MR Status Category of confirmed</description>
        <name>Check_for_existing_non_Draft_SAs</name>
        <label>Check for existing non Draft SAs</label>
        <locationX>512</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_Draft_SAs</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 or 4) and (5 or 6)</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>512</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_In_Progress_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Work_Order_Screen</name>
        <label>Select Work Order Screen</label>
        <locationX>600</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Please_select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_would_you_like_to_do_screen</name>
        <label>What would you like to do?</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to</targetReference>
        </connector>
        <fields>
            <name>InProgressWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;**&lt;/b&gt;&lt;b&gt;Warning&lt;/b&gt;, at least 1 Service Appointment exists for this Work Order that is in progress (Dispatched or later status).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Appointment: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Check_for_existing_In_Progress_SAs.AppointmentNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_for_existing_In_Progress_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ExistingSAsInformation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;**&lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Warning&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, &lt;/span&gt;Draft Service Appointment(s) already exist for this Work Order. These are appointments you created in this wizard but never confirmed. These are appointments with a blank value for MR Service Resource. These will be deleted automatically or you can delete them using the Edit Existing Service Appointments / Delete Service Appointments option. Do not edit these appointments as any changes you make will be ignored.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Service Appointment: {!Check_for_existing_Draft_SAs.AppointmentNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_for_existing_Draft_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>EditExistingServiceApp</choiceReferences>
            <choiceReferences>createSAs</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EditExistingServiceApp</defaultSelectedChoiceReference>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAReset</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;**&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Service Appointment Reset&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Select the check box below to delete all existing Service Appointments.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_for_existing_In_Progress_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_existing_Draft_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_existing_non_Draft_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delete_all_Service_Appointments</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Delete all Service Appointments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_for_existing_In_Progress_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_existing_Draft_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_for_existing_non_Draft_SAs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_RecordId_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>MR_DT_Delete_Service_Appointments</name>
        <label>MR DT Delete Service Appointments</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <flowName>MR_DT_Delete_Service_Appointments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MR_DT_Service_Appointment_Creator</name>
        <label>MR DT Service_Appointment Creator</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <flowName>MR_DT_Service_Appointment_Creator</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MR_DT_Service_Appointment_Review</name>
        <label>MR DT Service Appointment Review</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <flowName>MR_DT_Service_Appointment_Review</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>booleanDeleteSAs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
