force-app/main/default/flows/MR_DT_Service_Appointment_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_filtered_STMS</name>
        <label>get filtered STMS</label>
        <locationX>2393</locationX>
        <locationY>2606</locationY>
        <actionName>MRDTGetSTMs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Technicans_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>info1_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>formulaLastEndDateDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeOnlyWeekends</name>
            <value>
                <elementReference>Include_Only_Weekends</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay1</name>
            <value>
                <elementReference>Include_Saturdays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay2</name>
            <value>
                <elementReference>Include_Sundays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inSkillId</name>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inTerritoryId</name>
            <value>
                <elementReference>Select_Territory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inWoId</name>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>formulaFirstStartDateDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputOverlapDebug</assignToReference>
            <name>overlapDebugMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overlapResultsJSON</assignToReference>
            <name>overlapResultsJSON</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overlapWarning</assignToReference>
            <name>overlapWarning</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>collectionSTMs</assignToReference>
            <name>stmList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesMatched</assignToReference>
            <name>woSkillNamesMatched</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesNotMatched</assignToReference>
            <name>woSkillNamesNotMatched</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>shift the ServiceAppointments in the Range to the new Start Date</description>
        <name>MR_DT_Date_ShiftMR_DT_Date_Shift</name>
        <label>MR DT Date ShiftMR DT Date Shift</label>
        <locationX>3614</locationX>
        <locationY>1334</locationY>
        <actionName>MRDTDateShift</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shift_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ApexActionError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateEnding</name>
            <value>
                <elementReference>Up_until_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateNewStart</name>
            <value>
                <elementReference>New_Starting_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateStarting</name>
            <value>
                <elementReference>Start_from_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listSA</name>
            <value>
                <elementReference>collectionDraftSAs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>collectionShiftedSAs</assignToReference>
            <name>listSA</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numShiftedSAs</assignToReference>
            <name>numSAs</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Update SA MR Service Resources and return list of Service Appointments</description>
        <name>MR_DT_Validate_Update</name>
        <label>MR DT Validate Update</label>
        <locationX>3416</locationX>
        <locationY>614</locationY>
        <actionName>MRDTSAValidateUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Less_than_SA_Limit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>woID</name>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>collectionDraftSAs</assignToReference>
            <name>listSA</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numSAs</assignToReference>
            <name>numSAs</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reassign_Technicians</name>
        <label>Reassign Technicians</label>
        <locationX>1766</locationX>
        <locationY>3086</locationY>
        <actionName>MRDTReassignTechs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>info1_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listSA</name>
            <value>
                <elementReference>ChangeTechSADataTable.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResourceId</name>
            <value>
                <elementReference>STMDataTable.outputSelectedRow.ServiceResourceId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Start_and_End_Dates</name>
        <label>Assign Start and End Dates</label>
        <locationX>2481</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>firstStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFirstStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaLastEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_selected_change_tech_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_the_string</name>
        <label>build the string</label>
        <locationX>2481</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varSkillsRequired</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_display_field_for_skills_required.MR_DT_Skill_Name_and_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkillsRequired</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_display_field_for_skills_required</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Updated Label to &quot;Not Specified&quot;. Selecting this will result in all Service Resources for the selected Service Territory will be displayed in the selection table</description>
        <name>All</name>
        <choiceText>Not Specified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeTech</name>
        <choiceText>Change Service Resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ChangeTech</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTerritoryId</name>
        <choiceText>{!strDefaultTerritoryName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>strWOSTId</elementReference>
        </value>
    </choices>
    <choices>
        <name>DateShift</name>
        <choiceText>Shift appointments to new date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DateShift</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteSAs</name>
        <choiceText>Delete Service Appointments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>deleteSAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <description>Selecting this choice will limit the Service Resources displayed to just those in the specified Service Territory who have at least 1 of the required skills on the Work Order. This will not consider the skill level.</description>
        <name>MatchWO</name>
        <choiceText>Match at least 1 WO Required Skill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MatchWO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Updatedatesandorstatus</name>
        <choiceText>Update Dates and/or Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <constants>
        <name>constLimitSAs</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>250.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>exit if there are too many SAs as defined by the constLimitSA - currently set at 500.</description>
        <name>Less_than_SA_Limit</name>
        <label>Less than SA Limit</label>
        <locationX>3416</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Too_Many_Service_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOkToProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constLimitSAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_Earliest_Existing_Service_Appointments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Successful</name>
        <label>Shift Successful?</label>
        <locationX>3614</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>SuccessShiftSA_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSuccessfulOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numShiftedSAs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessShiftSA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful</name>
        <label>Successful?</label>
        <locationX>1766</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>info1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>info1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Selected</name>
        <label>Tech Selected?</label>
        <locationX>2096</locationX>
        <locationY>2966</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STMDataTable.numberOfRowsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Technicians</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technicans_Found</name>
        <label>Technicans Found?</label>
        <locationX>2393</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>No_Technicians_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionSTMs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SAs</name>
        <label>Path to take</label>
        <locationX>2294</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SAs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSAs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ChangeTech</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DateShift</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Were_Records_Updated</targetReference>
            </connector>
            <label>Update SAs</label>
        </rules>
        <rules>
            <name>Delete_SAs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SAs_Screen</targetReference>
            </connector>
            <label>Delete SAs</label>
        </rules>
        <rules>
            <name>Change_Techs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeTech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Service_Resources</targetReference>
            </connector>
            <label>Change Techs</label>
        </rules>
        <rules>
            <name>DateShiftOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateShift</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MR_DT_Date_ShiftMR_DT_Date_Shift</targetReference>
            </connector>
            <label>DateShift</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_RecordId_provided</name>
        <label>was RecordId provided</label>
        <locationX>3416</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>YesRecordId</label>
        </rules>
        <rules>
            <name>NoRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Work_Order</targetReference>
            </connector>
            <label>NoRecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Deleted</name>
        <label>Were Records Deleted</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteSADataTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Updated</name>
        <label>Were Records Updated</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateSADataTable.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Edited_SAs_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Technicians_Changed</name>
        <label>Were Technicians Changed</label>
        <locationX>2805</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeTechSADataTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_selected_change_tech_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Review and update multiple service appointments</description>
    <dynamicChoiceSets>
        <name>rcsServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsSkills</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaFirstStartDate</name>
        <dataType>DateTime</dataType>
        <expression>if({!loop_through_selected_change_tech_records.SchedStartTime} &lt; {!firstStartDate},{!loop_through_selected_change_tech_records.SchedStartTime},{!firstStartDate})</expression>
    </formulas>
    <formulas>
        <description>this is the actual date of the earliest start date / time</description>
        <name>formulaFirstStartDateDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!firstStartDate})</expression>
    </formulas>
    <formulas>
        <name>formulaLastEndDate</name>
        <dataType>DateTime</dataType>
        <expression>if({!loop_through_selected_change_tech_records.SchedEndTime} &gt; {!lastEndDate},{!loop_through_selected_change_tech_records.SchedEndTime},{!lastEndDate})</expression>
    </formulas>
    <formulas>
        <description>Actual date of last sched end time</description>
        <name>formulaLastEndDateDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!lastEndDate})</expression>
    </formulas>
    <formulas>
        <name>formulaSkillRequirement</name>
        <dataType>String</dataType>
        <expression>if(isblank({!varSkillsRequired}),&apos;No skills required&apos;,LEFT({!varSkillsRequired},LEN({!varSkillsRequired})-1))</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>{!formulaToday}+7</expression>
    </formulas>
    <interviewLabel>MR DT Service Appointment Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR DT Service Appointment Review</label>
    <loops>
        <name>Build_display_field_for_skills_required</name>
        <label>Build display field for skills required</label>
        <locationX>2393</locationX>
        <locationY>2150</locationY>
        <collectionReference>Get_Skill_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>build_the_string</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Technician_Filtering</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_selected_change_tech_records</name>
        <label>loop through selected change tech records</label>
        <locationX>2393</locationX>
        <locationY>1574</locationY>
        <collectionReference>ChangeTechSADataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Start_and_End_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_the_default_territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_SAs</name>
        <label>Delete SAs</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <faultConnector>
            <targetReference>Error_Encountered</targetReference>
        </faultConnector>
        <inputReference>DeleteSADataTable.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>find_Earliest_Existing_Service_Appointments</name>
        <label>find Earliest Existing Service Appointments</label>
        <locationX>2294</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>find_Latest_Existing_Service_Appointments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>find_Latest_Existing_Service_Appointments</name>
        <label>find Latest Existing Service Appointments</label>
        <locationX>2294</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SAs_or_Take_Other_Action_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Requirements</name>
        <label>Get Skill Requirements</label>
        <locationX>2393</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_display_field_for_skills_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <sortField>MR_DT_Skill_Name_and_Level__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_the_default_territory</name>
        <label>get the default territory</label>
        <locationX>2393</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Skill_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>strWOSTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strDefaultTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>3416</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MR_DT_Validate_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_SAs_0</name>
        <label>Update Edited SAs</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Encountered</targetReference>
        </faultConnector>
        <inputReference>UpdateSADataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>ApexActionError</name>
        <label>ApexActionError</label>
        <locationX>4010</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApexActionInfo</name>
            <fieldText>&lt;p&gt;An error has occurred, please refresh the page and try again. If the problem persists, contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Service_Resources</name>
        <label>Change Service Resources</label>
        <locationX>2805</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_Technicians_Changed</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the Service Appointments where you would like to change the Service Resource. On the next screen you will be prompted for the new Service Resource.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChangeTechSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Change Service Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_SAs_Screen</name>
        <label>Delete SAs</label>
        <locationX>1106</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_Records_Deleted</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the Service Appointments you would like to delete and then press the Next button to delete them.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeleteSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Delete Service Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Encountered</name>
        <label>Error Encountered</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SAs_or_Take_Other_Action_Screen</targetReference>
        </connector>
        <fields>
            <name>Error1Text</name>
            <fieldText>&lt;p&gt;Error, you have entered 1 more values that are invalid. Most likely you have entered a value for duration that is negative or greater than 24 hours.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>info1</name>
        <label>info1</label>
        <locationX>1634</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The assignments are being created. This process may take a minute or 2. Please refresh your screen to review the new service appointments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>info1_0</name>
        <label>info1</label>
        <locationX>1898</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Error!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;An error was encountered please try again or contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Technicians_Found</name>
        <label>No Technicians Found</label>
        <locationX>2690</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Technician_Filtering</targetReference>
        </connector>
        <fields>
            <name>SorryNoTechsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Sorry, no technicians were found in the selected Territory with the selected Skill. Please change search criteria and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_select_Work_Order</name>
        <label>Please select Work Order</label>
        <locationX>3372</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Resource</name>
        <label>Select Resource</label>
        <locationX>2096</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tech_Selected</targetReference>
        </connector>
        <fields>
            <name>Select1Tech</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Please select 1 Technician.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>overlapWarningDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Warning&lt;/b&gt;&lt;/p&gt;&lt;p&gt;at least 1 technician has a Resource Absence or Service Appointment that overlaps with the data range you have selected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>overlapWarning</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SkillsRequiredDisplay1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Skills and Skill Levels Required&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!formulaSkillRequirement}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SkillsNotMatchedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Skills Required and not present in the technicians below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!woSkillNamesNotMatched}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>woSkillNamesNotMatched</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>STMDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritoryMember</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceTerritoryMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionSTMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MemberNumber,MR_Resource_Name__c,TerritoryType,MR_Service_Territory__c,EffectiveStartDate,EffectiveEndDate,MR_DT_Percent_Availability__c,MR_DT_Skill_Levels_Matched__c,MR_DT_Skills_Matched__c,MR_DT_Skill_Names_Matched__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>MemberNumber:105, MR_Resource_Name__c:145, TerritoryType:100, MR_Service_Territory__c:135, EffectiveStartDate:175, EffectiveEndDate:115, MR_DT_Percent_Availability__c:130, MR_DT_Skill_Levels_Matched__c:155, MR_DT_Skills_Matched__c:165, MR_DT_Skill_Names_Matched__c:160</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Service Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>MemberNumber:false, MR_Resource_Name__c:true, TerritoryType:true, MR_Service_Territory__c:false, EffectiveStartDate:false, EffectiveEndDate:true, MR_DT_Percent_Availability__c:false, MR_DT_Skill_Levels_Matched__c:true, MR_DT_Skills_Matched__c:true, MR_DT_Skill_Names_Matched__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessShiftSA</name>
        <label>Success</label>
        <locationX>3482</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessShiftText</name>
            <fieldText>&lt;p&gt;Successfully shifted {!numShiftedSAs} Service Appointments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessShiftSA_0</name>
        <label>No Appointments Shifted</label>
        <locationX>3746</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessShiftText_0</name>
            <fieldText>&lt;p&gt;No Appointments were shifted. Please change your criteria and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technician_Filtering</name>
        <label>Technician Filtering</label>
        <locationX>2393</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_filtered_STMS</targetReference>
        </connector>
        <fields>
            <name>selectTechniciansText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Technician Filtering&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Territory</name>
            <choiceReferences>rcsServiceTerritory</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choiceDefaultTerritoryId</elementReference>
            </defaultValue>
            <fieldText>Select Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skill</name>
            <choiceReferences>MatchWO</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>MatchWO</defaultSelectedChoiceReference>
            <fieldText>Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Selecting &quot;Match at least 1 WO Required Skill&quot; will select only those Service Resources in the selected Service Territory who have at least 1 of the required skills on the WO, regardless of Skill Level.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot;Not Specified&quot; will select all Service Resources in the selected Service Territory.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Saturdays</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Saturdays</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If selected, availability calculation will include Saturdays, if applicable.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Sundays</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Sundays</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If selected, availability calculation will include Sundays, if applicable.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Only_Weekends</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Only Weekends</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If selected, the availability calculation will not include M-F.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If selected, you must select at least Include Saturday, or Include Sunday or Both.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you select Include only Weekends, you must select at least Include Saturday, or Include Sunday or Both.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>!{!Include_Only_Weekends} || ({!Include_Only_Weekends} &amp;&amp; ({!Include_Saturdays} || {!Include_Sundays}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Service_Appointments</name>
        <label>Too Many Service Appointments</label>
        <locationX>4538</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TooManyText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error&lt;/b&gt;, too many service appointments would be created. Please reduce the number of days and/or Service Resources and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Max number of Service Appointments: {!constLimitSAs}&lt;/p&gt;&lt;p&gt;Number you are trying to create: {!numSAs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_SAs_or_Take_Other_Action_Screen</name>
        <label>Update SAs or Take Other Action</label>
        <locationX>2294</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SAs</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Edit the values for columns.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You must press the Next button actually save the changes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Or &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the action you would like to take. On the next screen the service appointments will be listed and you can select which ones you want to take action on.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Other_Action</name>
            <choiceReferences>ChangeTech</choiceReferences>
            <choiceReferences>DateShift</choiceReferences>
            <choiceReferences>DeleteSAs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Other Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_SAs_or_Take_Other_Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_SAs_or_Take_Other_Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentWorkOrderStatus</name>
                    <fieldText>&lt;p&gt;Work Order Start Date: {!getWorkOrder.StartDate}&lt;/p&gt;&lt;p&gt;Work Order End Date: {!getWorkOrder.EndDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_SAs_or_Take_Other_Action_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentSAStatus</name>
                    <fieldText>&lt;p&gt;Earliest Service Appointment Found:  {!find_Earliest_Existing_Service_Appointments.SchedStartTime}&lt;/p&gt;&lt;p&gt;Latest Service Appointment Found:  {!find_Latest_Existing_Service_Appointments.SchedStartTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DateShift</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_SAs_or_Take_Other_Action_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_SAs_or_Take_Other_Action_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectExisting</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Existing Service Appointments. Leave Up until Date blank to move all appointments starting from Start from Date&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Start_from_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start from Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Including this date&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Up_until_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Up until Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If entered, it will include service appointments up until this date. Leave blank to include all service appointments from the Start from Date&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NewDate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the new starting date. All selected appointments will be moved proportionally. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please note that this may shift some of your appointments to a weekend. Please review and adjust as needed.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>New_Starting_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>New Starting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DateShift</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpdateSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Update Service Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>SchedStartTime:true,,Duration:true,DurationType:true,Status:true,EarliestStartTime:true,DueDate:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChangeTech</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>DeleteSAs</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>DateShift</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CSRText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Press Next to select the Service Appointments that you want to re-assign to another Service Resource.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChangeTech</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DSAText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Press Next to select the Service Appointments that you want to delete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeleteSAs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3290</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>was_RecordId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collARs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>collConfirmedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionDraftSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionShiftedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>durations</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>firstStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2100-01-01T16:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>lastEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2000-01-01T16:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>numSAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numShiftedSAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>outputOverlapDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overlapResultsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overlapWarning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDefaultTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWOSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>varSkillsRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesMatched</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesNotMatched</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
