force-app/main/default/flows/MR_DT_Service_Appointment_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_filtered_STMS</name>
        <label>get filtered STMS</label>
        <locationX>2393</locationX>
        <locationY>2246</locationY>
        <actionName>MRDTGetSTMs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Technicans_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>info1_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>lastEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inSkillId</name>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inTerritoryId</name>
            <value>
                <elementReference>Select_Territory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>firstStartDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>collectionSTMs</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reassign_Technicians</name>
        <label>Reassign Technicians</label>
        <locationX>1766</locationX>
        <locationY>2726</locationY>
        <actionName>MRDTReassignTechs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>info1_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listSA</name>
            <value>
                <elementReference>ChangeTechSADataTable.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResourceId</name>
            <value>
                <elementReference>STMDataTable.outputSelectedRow.ServiceResourceId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Start_and_End_Dates</name>
        <label>Assign Start and End Dates</label>
        <locationX>2481</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>firstStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFirstStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaLastEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_selected_change_tech_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_counter</name>
        <label>update counter</label>
        <locationX>2910</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>numSAs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_the_SAs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeTech</name>
        <choiceText>Change Service Resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ChangeTech</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTerritoryId</name>
        <choiceText>{!strDefaultTerritoryName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>strWOSTId</elementReference>
        </value>
    </choices>
    <choices>
        <name>DeleteSAs</name>
        <choiceText>Delete Service Appointments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>deleteSAs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Updatedatesandorstatus</name>
        <choiceText>Update Dates and/or Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <constants>
        <name>constLimitSAs</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>250.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>exit if there are too many SAs as defined by the constLimitSA - currently set at 500.</description>
        <name>Less_than_SA_Limit</name>
        <label>Less than SA Limit</label>
        <locationX>2822</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Too_Many_Service_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOkToProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constLimitSAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAs_or_Take_Other_Action_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful</name>
        <label>Successful?</label>
        <locationX>1766</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>info1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>info1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Selected</name>
        <label>Tech Selected?</label>
        <locationX>2096</locationX>
        <locationY>2606</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STMDataTable.numberOfRowsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Technicians</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technicans_Found</name>
        <label>Technicans Found?</label>
        <locationX>2393</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>No_Technicians_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionSTMs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SAs</name>
        <label>Path to take</label>
        <locationX>1898</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SAs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSAs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ChangeTech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Were_Records_Updated</targetReference>
            </connector>
            <label>Update SAs</label>
        </rules>
        <rules>
            <name>Delete_SAs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SAs_Screen</targetReference>
            </connector>
            <label>Delete SAs</label>
        </rules>
        <rules>
            <name>Change_Techs_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Other_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeTech</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Service_Resources</targetReference>
            </connector>
            <label>Change Techs</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_RecordId_provided</name>
        <label>was RecordId provided</label>
        <locationX>2822</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>YesRecordId</label>
        </rules>
        <rules>
            <name>NoRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Work_Order</targetReference>
            </connector>
            <label>NoRecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Deleted</name>
        <label>Were Records Deleted</label>
        <locationX>1106</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteSADataTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Updated</name>
        <label>Were Records Updated</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateSADataTable.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Edited_SAs_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Technicians_Changed</name>
        <label>Were Technicians Changed</label>
        <locationX>2805</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordsUpdated_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeTechSADataTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_selected_change_tech_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Review and update multiple service appointments</description>
    <dynamicChoiceSets>
        <name>rcsServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsSkills</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaFirstStartDate</name>
        <dataType>DateTime</dataType>
        <expression>if({!loop_through_selected_change_tech_records.SchedStartTime} &lt; {!firstStartDate},{!loop_through_selected_change_tech_records.SchedStartTime},{!firstStartDate})</expression>
    </formulas>
    <formulas>
        <name>formulaLastEndDate</name>
        <dataType>DateTime</dataType>
        <expression>if({!loop_through_selected_change_tech_records.SchedEndTime} &gt; {!lastEndDate},{!loop_through_selected_change_tech_records.SchedEndTime},{!lastEndDate})</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>{!formulaToday}+7</expression>
    </formulas>
    <interviewLabel>MR DT Service Appointment Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR DT Service Appointment Review</label>
    <loops>
        <name>Count_the_SAs</name>
        <label>Count the SAs</label>
        <locationX>2822</locationX>
        <locationY>734</locationY>
        <collectionReference>collectionDraftSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Less_than_SA_Limit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_selected_change_tech_records</name>
        <label>loop through selected change tech records</label>
        <locationX>2393</locationX>
        <locationY>1670</locationY>
        <collectionReference>ChangeTechSADataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Start_and_End_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_the_default_territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_SAs</name>
        <label>Delete SAs</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <faultConnector>
            <targetReference>Error_Encountered</targetReference>
        </faultConnector>
        <inputReference>DeleteSADataTable.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_existing_Service_Appointments</name>
        <label>get existing Service Appointments</label>
        <locationX>2822</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_SAs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>collectionDraftSAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>DueDate</queriedFields>
        <queriedFields>MR_Creation_Status__c</queriedFields>
        <queriedFields>MR_Service_Resource__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_the_default_territory</name>
        <label>get the default territory</label>
        <locationX>2393</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technician_Filtering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>strWOSTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strDefaultTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>2822</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_existing_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_SAs_0</name>
        <label>Update Edited SAs</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Encountered</targetReference>
        </faultConnector>
        <inputReference>UpdateSADataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Service_Resources</name>
        <label>Change Service Resources</label>
        <locationX>2805</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_Technicians_Changed</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the Service Appointments where you would like to change the Service Resource. On the next screen you will be prompted for the new Service Resource.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChangeTechSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Change Service Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_SAs_Screen</name>
        <label>Delete SAs</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_Records_Deleted</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the Service Appointments you would like to delete and then press the Next button to delete them.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeleteSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Delete Service Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Encountered</name>
        <label>Error Encountered</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SAs_or_Take_Other_Action_Screen</targetReference>
        </connector>
        <fields>
            <name>Error1Text</name>
            <fieldText>&lt;p&gt;Error, you have entered 1 more values that are invalid. Most likely you have entered a value for duration that is negative or greater than 24 hours.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>info1</name>
        <label>info1</label>
        <locationX>1634</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The assignments are being created. This process may take a minute or 2. Please refresh your screen to review the new service appointments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>info1_0</name>
        <label>info1</label>
        <locationX>1898</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Error!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;An error was encountered please try again or contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Technicians_Found</name>
        <label>No Technicians Found</label>
        <locationX>2690</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Technician_Filtering</targetReference>
        </connector>
        <fields>
            <name>SorryNoTechsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Sorry, no technicians were found in the selected Territory with the selected Skill. Please change search criteria and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_select_Work_Order</name>
        <label>Please select Work Order</label>
        <locationX>2778</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Resource</name>
        <label>Select Resource</label>
        <locationX>2096</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tech_Selected</targetReference>
        </connector>
        <fields>
            <name>STMDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritoryMember</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceTerritoryMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionSTMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MemberNumber,MR_Resource_Name__c,TerritoryType,MR_Service_Territory__c,EffectiveStartDate,EffectiveEndDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>MemberNumber:159, MR_Resource_Name__c:159, TerritoryType:159, MR_Service_Territory__c:159, EffectiveStartDate:159, EffectiveEndDate:159</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Service Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Technician_Filtering</name>
        <label>Technician Filtering</label>
        <locationX>2393</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_filtered_STMS</targetReference>
        </connector>
        <fields>
            <name>selectTechniciansText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Technician Filtering&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Territory</name>
            <choiceReferences>rcsServiceTerritory</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choiceDefaultTerritoryId</elementReference>
            </defaultValue>
            <fieldText>Select Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skill</name>
            <choiceReferences>rcsSkills</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Service_Appointments</name>
        <label>Too Many Service Appointments</label>
        <locationX>3746</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TooManyText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error&lt;/b&gt;, too many service appointments would be created. Please reduce the number of days and/or Service Resources and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Max number of Service Appointments: {!constLimitSAs}&lt;/p&gt;&lt;p&gt;Number you are trying to create: {!numSAs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_SAs_or_Take_Other_Action_Screen</name>
        <label>Update SAs or Take Other Action</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SAs</targetReference>
        </connector>
        <fields>
            <name>SAGuidanceText_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Edit the values for columns.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You must press the Next button actually save the changes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Or &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the action you would like to take. On the next screen the service appointments will be listed and you can select which ones you want to take action on.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Other_Action</name>
            <choiceReferences>ChangeTech</choiceReferences>
            <choiceReferences>DeleteSAs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Other Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UpdateSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:95, Status:95, SchedStartTime:95, Duration:95, DurationType:95, SchedEndTime:95, EarliestStartTime:95, DueDate:95</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Update Service Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>SchedStartTime:true,,Duration:true,DurationType:true,Status:true,EarliestStartTime:true,DueDate:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,Status,SchedStartTime,Duration,DurationType,SchedEndTime,EarliestStartTime,DueDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ChangeTech</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>DeleteSAs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CSRText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Press Next to select the Service Appointments that you want to re-assign to another Service Resource.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChangeTech</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DSAText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Press Next to select the Service Appointments that you want to delete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Other_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeleteSAs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>was_RecordId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collARs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>collConfirmedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionDraftSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>durations</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>firstStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2100-01-01T16:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>lastEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2000-01-01T16:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>numSAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDefaultTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWOSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>workTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
