force-app/main/default/flows/MR_DT_Service_Appointment_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>create the initial service appointments</description>
        <name>Create_Draft_SAs</name>
        <label>Create Draft SAs</label>
        <locationX>633</locationX>
        <locationY>1910</locationY>
        <actionName>MRDTSchedMultiVisit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Less_than_SA_Limit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_EncounteredApexAction</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>defaultDuration</name>
            <value>
                <elementReference>Default_Duration_hrs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeOnlyWeekends</name>
            <value>
                <elementReference>Include_Only_Weekends</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay1</name>
            <value>
                <elementReference>Include_Saturdays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay2</name>
            <value>
                <elementReference>Include_Sundays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>limitSAs</name>
            <value>
                <elementReference>constLimitSAs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listSTM</name>
            <value>
                <elementReference>STMDataTable.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overlapResultsJSON</name>
            <value>
                <elementReference>overlapResultsJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starting</name>
            <value>
                <elementReference>Starting_From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startTime</name>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskDescription</name>
            <value>
                <elementReference>workTypeName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryId</name>
            <value>
                <elementReference>getWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>until</name>
            <value>
                <elementReference>Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workorderid</name>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>collectionDraftSAs</assignToReference>
            <name>listSA</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numSAs</assignToReference>
            <name>numSAs</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesMatchedSelected</assignToReference>
            <name>woSkillNamesMatched</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesNotMatchedSelected</assignToReference>
            <name>woSkillNamesNotMatched</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>returns a list of STMS that have the skill and territory if specified</description>
        <name>Get_filtered_STMS</name>
        <label>Get filtered STMS</label>
        <locationX>1056</locationX>
        <locationY>1550</locationY>
        <actionName>MRDTGetSTMs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Technicans_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_EncounteredApexAction</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeOnlyWeekends</name>
            <value>
                <elementReference>Include_Only_Weekends</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay1</name>
            <value>
                <elementReference>Include_Saturdays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeWeekendDay2</name>
            <value>
                <elementReference>Include_Sundays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inSkillId</name>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inTerritoryId</name>
            <value>
                <elementReference>Territory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inWoId</name>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Starting_From</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputOverlapDebug</assignToReference>
            <name>overlapDebugMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overlapResultsJSON</assignToReference>
            <name>overlapResultsJSON</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overlapWarning</assignToReference>
            <name>overlapWarning</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>collectionSTMs</assignToReference>
            <name>stmList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesMatched</assignToReference>
            <name>woSkillNamesMatched</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woSkillNamesNotMatched</assignToReference>
            <name>woSkillNamesNotMatched</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MRDT_Get_Time_Zone_Info</name>
        <label>MRDT Get Time Zone Info</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <actionName>MRDTGetTimeZoneInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Review_Draft_SAs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inTerritoryIdList</name>
            <value>
                <elementReference>Territory</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_AR_to_collection</name>
        <label>Add AR to collection</label>
        <locationX>402</locationX>
        <locationY>4538</locationY>
        <assignmentItems>
            <assignToReference>collARs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Assigned_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>160</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>collConfirmedSAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_selected_rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_the_string</name>
        <label>build the string</label>
        <locationX>1144</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varSkillsRequired</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_display_field_for_skills_required.MR_DT_Skill_Name_and_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSkillsRequired</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_display_field_for_skills_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>402</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>objAR.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Create_Assigned_Resources.MR_Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAR.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Create_Assigned_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AR_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MR_Creation_Status</name>
        <label>Set MR Creation Status</label>
        <locationX>160</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>objSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_selected_rows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSA.MR_Creation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Updated Label to &quot;Not Specified&quot;. Selecting this will result in all Service Resources for the selected Service Territory will be displayed in the selection table.</description>
        <name>All</name>
        <choiceText>Not Specified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTerritoryId</name>
        <choiceText>{!strDefaultTerritoryName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>strWOSTId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <description>Selecting this choice will limit the Service Resources displayed to just those in the specified Service Territory who have at least 1 of the required skills on the Work Order. This will not consider the skill level.</description>
        <name>MatchWO</name>
        <choiceText>Match at least 1 WO Required Skill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MatchWO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <constants>
        <name>constLimitSAs</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>250.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Delete_Records</name>
        <label>Delete Records?</label>
        <locationX>314</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Create_Assigned_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDeleteRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Draft_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_draft_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>exit if there are too many SAs as defined by the constLimitSA - currently set at 500.</description>
        <name>Less_than_SA_Limit</name>
        <label>Less than SA Limit</label>
        <locationX>633</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Too_Many_Service_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOkToProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numSAs</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constLimitSAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Draft_SA_Delete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Selected SAs MR Creation Status to Confirmed</description>
        <name>Records_Selected</name>
        <label>Records Selected?</label>
        <locationX>314</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>No_Records_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftSADataTable.outputSelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DraftSADataTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_selected_rows</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Updates</name>
        <label>Records Updates?</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Records_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftSADataTable.outputEditedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DraftSADataTable.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Edited_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>return_to_prior_screen</name>
        <label>return to prior screen</label>
        <locationX>556</locationX>
        <locationY>3290</locationY>
        <defaultConnector>
            <targetReference>Get_Draft_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesReturntoPriorScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_to_return_to_prior_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Review_Draft_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoReturn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_to_return_to_prior_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Draft_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technicans_Found</name>
        <label>Technicans Found?</label>
        <locationX>1056</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>No_Technicians_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionSTMs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_RecordId_provided</name>
        <label>was RecordId provided</label>
        <locationX>1056</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>YesRecordId</label>
        </rules>
        <rules>
            <name>NoRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Work_Order</targetReference>
            </connector>
            <label>NoRecordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcsServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsSkills</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaSkillRequirement</name>
        <dataType>String</dataType>
        <expression>if(isblank({!varSkillsRequired}),&apos;No skills required&apos;,LEFT({!varSkillsRequired},LEN({!varSkillsRequired})-1))</expression>
    </formulas>
    <formulas>
        <name>formulaTimeZonesAreDifferent</name>
        <dataType>Boolean</dataType>
        <expression>{!MRDT_Get_Time_Zone_Info.territoryTimeZone} &lt;&gt; {!MRDT_Get_Time_Zone_Info.yourTimeZone}</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>{!formulaToday}+7</expression>
    </formulas>
    <interviewLabel>MR DT Service_Appointment Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR DT Service_Appointment Creator</label>
    <loops>
        <name>Build_display_field_for_skills_required</name>
        <label>Build display field for skills required</label>
        <locationX>1056</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Skill_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>build_the_string</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>find_Existing_Service_Appointments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>set MR Creation Status to Confirmed</description>
        <name>loop_through_selected_rows</name>
        <label>loop through selected rows</label>
        <locationX>72</locationX>
        <locationY>3170</locationY>
        <collectionReference>DraftSADataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_MR_Creation_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Confirmed_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Create_Assigned_Resources</name>
        <label>Loop to Create Assigned Resources</label>
        <locationX>314</locationX>
        <locationY>4298</locationY>
        <collectionReference>DraftSADataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ARs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ARs</name>
        <label>Create ARs</label>
        <locationX>314</locationX>
        <locationY>4754</locationY>
        <connector>
            <targetReference>info1</targetReference>
        </connector>
        <inputReference>collARs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_draft_SAs</name>
        <label>Delete draft SAs</label>
        <locationX>182</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>Loop_to_Create_Assigned_Resources</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </recordDeletes>
    <recordLookups>
        <name>find_Existing_Service_Appointments</name>
        <label>find Earliest Existing Service Appointments</label>
        <locationX>1056</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>find_Existing_Service_Appointments_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>find_Existing_Service_Appointments_0</name>
        <label>find Latest Existing Service Appointments</label>
        <locationX>1056</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_the_default_territory_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>checking to see if there is at least 1 record to be deleted</description>
        <name>Get_Draft_Record</name>
        <label>Get Draft Record</label>
        <locationX>314</locationX>
        <locationY>3842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 or 3)</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>MR_Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Requirements</name>
        <label>Get Skill Requirements</label>
        <locationX>1056</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_display_field_for_skills_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <sortField>MR_DT_Skill_Name_and_Level__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>find San Francisco</description>
        <name>get_the_default_territory_0</name>
        <label>get the default territory</label>
        <locationX>1056</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>strWOSTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strDefaultTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>1056</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Skill_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>if the user does not complete this flow, a triggered flow will fire within N minutes to back out these new SAs</description>
        <name>Trigger_Draft_SA_Delete</name>
        <label>Trigger Draft SA Delete</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>MRDT_Get_Time_Zone_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MR_Trigger_Cleanup__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MR_Trigger_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirmed_Records</name>
        <label>Update Confirmed Records</label>
        <locationX>72</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>Get_Draft_Record</targetReference>
        </connector>
        <inputReference>collConfirmedSAs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_SAs</name>
        <label>Update Edited SAs</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Records_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Encountered</targetReference>
        </faultConnector>
        <inputReference>DraftSADataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Encountered</name>
        <label>Error Encountered</label>
        <locationX>314</locationX>
        <locationY>2750</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Review_Draft_SAs</targetReference>
        </connector>
        <fields>
            <name>Error1Text</name>
            <fieldText>&lt;p&gt;Error, you have entered 1 more values that are invalid. Most likely you have entered a value for duration that is negative or greater than 24 hours.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_EncounteredApexAction</name>
        <label>Error Encountered</label>
        <locationX>1744</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorApexAction</name>
            <fieldText>&lt;p&gt;An error has occurred, please refresh your screen and try again. If the problem persists, contact your adminstrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>info1</name>
        <label>info1</label>
        <locationX>314</locationX>
        <locationY>4874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The assignments are being created. This process may take a minute or 2. Please refresh your screen to review the new service appointments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Records_Selected</name>
        <label>No Records Selected</label>
        <locationX>556</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>return_to_prior_screen</targetReference>
        </connector>
        <fields>
            <name>NoRecordsSelectedText</name>
            <fieldText>&lt;p&gt;Warning, no records have been selected. Do you want to return to the prior screen to select Service Appointments to create or continue without creating any new Service Appointments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_to_return_to_prior_screen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Select to return to prior screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Technicians_Found</name>
        <label>No Technicians Found</label>
        <locationX>1480</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Parameters</targetReference>
        </connector>
        <fields>
            <name>SorryNoTechsFound</name>
            <fieldText>&lt;p&gt;Sorry, no technicians were found in the selected Territory with the selected Skill. Please change search criteria and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_select_Work_Order</name>
        <label>Please select Work Order</label>
        <locationX>1012</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Draft_SAs</name>
        <label>Review Draft SAs</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Records_Updates</targetReference>
        </connector>
        <fields>
            <name>SkillsRequiredDisplay2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Skills and Skill Levels Required&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!formulaSkillRequirement}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SkillsNotPresentSelectedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Skills Required and not present in the technicians below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!woSkillNamesNotMatchedSelected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>woSkillNamesNotMatchedSelected</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SAGuidanceText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select the appointments you would like to &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;KEEP&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. Use the select all checkbox at the top of the column to select every appointment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Edit the values for columns as well and use the Save button to save this changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TZWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Time Zone Difference&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please note: your timezone is different than the service territory&apos;s time zone.  The times displayed below are in your timezone. There is a {!MRDT_Get_Time_Zone_Info.hours} hour difference. You may wish to return to the first screen to set a new start time.&lt;/p&gt;&lt;p&gt;Your Time Zone: {!MRDT_Get_Time_Zone_Info.yourTimeZone}&lt;/p&gt;&lt;p&gt;Territory Time Zone: {!MRDT_Get_Time_Zone_Info.territoryTimeZone}&lt;/p&gt;&lt;p&gt;Difference: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!MRDT_Get_Time_Zone_Info.hours} hour(s)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formulaTimeZonesAreDifferent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DraftSADataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionDraftSAs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>MR_Service_Resource__c:true,SchedStartTime:true,MR_Creation_Status__c:true,DurationType:true,Duration:true,EarliestStartTime:true,DueDate:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AppointmentNumber,MR_Service_Resource__c,MR_DT_Percent_Availability__c,MR_DT_Conflict_Details__c,SchedStartTime,Duration,DurationType,SchedEndTime,MR_Creation_Status__c,Status,EarliestStartTime,DueDate,MR_DT_Skill_Levels_Matched__c,MR_DT_Skills_Matched__c,MR_DT_Skill_Names_Matched__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AppointmentNumber:95, MR_Service_Resource__c:105, MR_DT_Percent_Availability__c:115, MR_DT_Conflict_Details__c:115, SchedStartTime:200, Duration:80, DurationType:85, SchedEndTime:80, MR_Creation_Status__c:60, Status:75, EarliestStartTime:125, DueDate:100, MR_DT_Skill_Levels_Matched__c:120, MR_DT_Skills_Matched__c:275, MR_DT_Skill_Names_Matched__c:160</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Service Appointments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:serviceappointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>MR_Service_Resource__c:Resource, MR_Creation_Status__c:Create/Update Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>AppointmentNumber:false, MR_Service_Resource__c:false, MR_DT_Percent_Availability__c:false, MR_DT_Conflict_Details__c:false, SchedStartTime:false, Duration:false, DurationType:true, SchedEndTime:false, MR_Creation_Status__c:true, Status:false, EarliestStartTime:false, DueDate:false, MR_DT_Skill_Levels_Matched__c:true, MR_DT_Skills_Matched__c:true, MR_DT_Skill_Names_Matched__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Parameters</name>
        <label>Enter parameters -  Step 1</label>
        <locationX>1056</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_filtered_STMS</targetReference>
        </connector>
        <fields>
            <name>MultiTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Parameters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Parameters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentWorkOrderStatus</name>
                    <fieldText>&lt;p&gt;Work Order Start Date: {!getWorkOrder.StartDate}&lt;/p&gt;&lt;p&gt;Work Order End Date: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!getWorkOrder.EndDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Parameters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SADisplayText</name>
                    <fieldText>&lt;p&gt;Earliest Service Appointment Found: {!find_Existing_Service_Appointments.SchedStartTime}&lt;/p&gt;&lt;p&gt;Latest Service Appointment Found: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!find_Existing_Service_Appointments_0.SchedStartTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SkillsRequiredDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Skills and Skill Levels Required&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!formulaSkillRequirement}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>saparminfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Service Appointment Parameters&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Parameters_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Parameters_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Starting_From</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>formulaToday</elementReference>
                    </defaultValue>
                    <fieldText>Starting From</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Until</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>todayplus7</elementReference>
                    </defaultValue>
                    <fieldText>Until (maximum 2 weeks)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Until must be equal to or after Starting From and you cannot create more than 100 days of appointments&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Starting_From} &lt;= {!Until} &amp;&amp;
({!Until} - {!Starting_From}) &lt;=100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Include_Saturdays</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Include Saturdays</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If selected, appointments will be created for Saturdays.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Include_Sundays</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Include Sundays</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If selected, appointments will be created for Sundays.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Include_Only_Weekends</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Include Only Weekends</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If selected, appointments will not be created for Monday - Friday.&lt;/p&gt;&lt;p&gt;If selected, you must select at least Include Saturday, or Include Sunday or Both.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you select Include only Weekends, you must select at least Include Saturday, or Include Sunday or Both.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>!{!Include_Only_Weekends} || ({!Include_Only_Weekends} &amp;&amp; ({!Include_Saturdays} || {!Include_Sundays}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Parameters_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>08:00 AM</stringValue>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is in your time zone. Please adjust if the selected Territory is in a different time zone.  Your time zone is {!$User.TimeZoneSidKey}.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Please enter Start Time using format HH:MM AM/PM
&lt;/pre&gt;</errorMessage>
                        <formulaExpression>regex({!Start_Time},&quot;((1[0-2]|0[1-9]):([0-5][0-9]) ?([AaPp][Mm]))&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Default_Duration_hrs</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>8.0</numberValue>
                    </defaultValue>
                    <fieldText>Default Duration (hrs)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Default Duration must be greater 0 and less than 18&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Default_Duration_hrs} &gt;0 &amp;&amp; {!Default_Duration_hrs} &lt;= 18</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Scheduled</choiceReferences>
                    <choiceReferences>Dispatched</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Scheduled</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>selectTechniciansText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Technician Filtering&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Parameters_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Parameters_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Territory</name>
                    <choiceReferences>rcsServiceTerritory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>choiceDefaultTerritoryId</elementReference>
                    </defaultValue>
                    <fieldText>Territory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Parameters_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skill</name>
                    <choiceReferences>All</choiceReferences>
                    <choiceReferences>MatchWO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>MatchWO</defaultSelectedChoiceReference>
                    <fieldText>Skill</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Selecting &quot;Match at least 1 WO Required Skill&quot; will select only those Service Resources in the selected Service Territory who have at least 1 of the required skills on the WO, regardless of Skill Level.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot;Not Specified&quot; will select all Service Resources in the selected Service Territory.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Resource</name>
        <label>Select Resource</label>
        <locationX>633</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Draft_SAs</targetReference>
        </connector>
        <fields>
            <name>selectTechnician</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select at least 1 Technician.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SkillsRequiredDisplay1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Skills and Skill Levels Required&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!formulaSkillRequirement}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SkillsNotMatchedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Skills Required and not present in the technicians below&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!woSkillNamesNotMatched}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>woSkillNamesNotMatched</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>overlapWarningDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Warning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;at least 1 technician has a Resource Absence or Service Appointment that overlaps with the data range you have selected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>overlapWarning</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>overlapDebugInfo</name>
            <fieldText>&lt;p&gt;Overlap Debug Information: &lt;/p&gt;&lt;p&gt;Note: in the next update, this detail will be presented on the SA table in the next step&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!outputOverlapDebug}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>overlapWarning</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>STMDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritoryMember</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ServiceTerritoryMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionSTMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MemberNumber,MR_Resource_Name__c,TerritoryType,MR_Service_Territory__c,EffectiveStartDate,EffectiveEndDate,MR_DT_Percent_Availability__c,MR_DT_Skill_Levels_Matched__c,MR_DT_Skills_Matched__c,MR_DT_Skill_Names_Matched__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>MemberNumber:125, MR_Resource_Name__c:130, TerritoryType:120, MR_Service_Territory__c:95, EffectiveStartDate:175, EffectiveEndDate:100, MR_DT_Percent_Availability__c:130, MR_DT_Skill_Levels_Matched__c:175, MR_DT_Skills_Matched__c:215, MR_DT_Skill_Names_Matched__c:355</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>MR_Resource_Name__c:Resource, MR_Service_Territory__c:Territory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>MemberNumber:false, MR_Resource_Name__c:false, TerritoryType:true, MR_Service_Territory__c:false, EffectiveStartDate:false, EffectiveEndDate:false, MR_DT_Percent_Availability__c:true, MR_DT_Skill_Levels_Matched__c:true, MR_DT_Skills_Matched__c:true, MR_DT_Skill_Names_Matched__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Service_Appointments</name>
        <label>Too Many Service Appointments</label>
        <locationX>952</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TooManyText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error&lt;/b&gt;, too many service appointments would be created. Please reduce the number of days and/or Service Resources and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Max number of Service Appointments: {!constLimitSAs}&lt;/p&gt;&lt;p&gt;Number you are trying to create: {!numSAs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>930</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>was_RecordId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collARs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>collConfirmedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionDraftSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>collectionSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>durations</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>foundSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>numSAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>outputOverlapDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overlapResultsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overlapWarning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDefaultTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWOSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>varSkillsRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesMatched</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesMatchedSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesNotMatched</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woSkillNamesNotMatchedSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
