force-app/main/default/flows/MR_Service_Appointment_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_STMs_for_Territory_and_Skill</name>
        <label>Get STMs for Territory and Skill</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <actionName>MRGetSTMs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Technicans_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inSkillId</name>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inTerritoryId</name>
            <value>
                <elementReference>Territory</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>listTechIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Multiple_Visits1</name>
        <label>Schedule Multiple Visits</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <actionName>MRSchedMultiVisit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>info1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dow</name>
            <value>
                <elementReference>responsedow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>durationList</name>
            <value>
                <elementReference>durations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceIds</name>
            <value>
                <elementReference>selectedTechIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starting</name>
            <value>
                <elementReference>Starting_From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startTimeTextList</name>
            <value>
                <elementReference>startTimes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskDescription</name>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryId</name>
            <value>
                <elementReference>strWOSTId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>until</name>
            <value>
                <elementReference>Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workorderid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDefaultTerritoryId</name>
        <choiceText>{!strDefaultTerritoryName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>strWOSTId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <name>GanttLabel</name>
        <choiceText>Gantt Label</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FSL__GanttLabel__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Name</name>
        <choiceText>Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_SAs_found</name>
        <label>Existing SAs found?</label>
        <locationX>611</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>get_the_default_territory_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesExistingSAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_Existing_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_Box_Checked</name>
        <label>Proceed Box Checked?</label>
        <locationX>435</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_this_box_to_create_additional_SAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_the_default_territory_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_1_Data_Valid</name>
        <label>Screen 1 Data Valid</label>
        <locationX>611</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Screen_1_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesScreen1Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>responsedow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>startTimes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>durations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_STMs_for_Territory_and_Skill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_2_Data_Valid</name>
        <label>Screen 2 Data Valid</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesScreen2Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTechId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Multiple_Visits1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technicans_Found</name>
        <label>Technicans Found?</label>
        <locationX>380</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>No_Technicians_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTechsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listTechIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Technicians_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_RecordId_provided</name>
        <label>was RecordId provided</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>YesRecordId</label>
        </rules>
        <rules>
            <name>NoRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Work_Order</targetReference>
            </connector>
            <label>NoRecordId</label>
        </rules>
    </decisions>
    <description>Provides co-ordinator with an easy to use point and click service appointment creator. It allows the co-ordinator to select team members and assign service appointments to them.</description>
    <dynamicChoiceSets>
        <name>rcsServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsSkills</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MV_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>taskDescription</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>{!formulaToday}+7</expression>
    </formulas>
    <interviewLabel>MR Service Appointment Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR Service Appointment Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>find_Existing_Service_Appointments</name>
        <label>find Existing Service Appointments</label>
        <locationX>611</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_SAs_found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MR_Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>find San Francisco</description>
        <name>get_the_default_territory_0</name>
        <label>get the default territory</label>
        <locationX>611</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Technicians</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundWO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>strWOSTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strDefaultTerritoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>611</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>find_Existing_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>foundWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <screens>
        <name>info1</name>
        <label>info1</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The assignments are being created. This process may take a minute or 2. Please refresh your screen to review the new service appointments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Technicians_Found</name>
        <label>No Technicians Found</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SorryNoTechsFound</name>
            <fieldText>&lt;p&gt;Sorry, no technicians were found in the selected Territory with the selected Skill. Please change search criteria and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_Work_Order</name>
        <label>Please select Work Order</label>
        <locationX>567</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Error</name>
        <label>Screen 1 Error</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Technicians</targetReference>
        </connector>
        <fields>
            <name>Screen1ErrorText</name>
            <fieldText>&lt;p&gt;Please select at least 1 day of the week with a corresponding start time and duration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Error</name>
        <label>Screen 2 Error</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Technicians_0</targetReference>
        </connector>
        <fields>
            <name>Screen2ErrorText</name>
            <fieldText>&lt;p&gt;Please select at least 1 Technician&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Technicians</name>
        <label>Select Technicians -  Step 1</label>
        <locationX>611</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_1_Data_Valid</targetReference>
        </connector>
        <fields>
            <name>MultiTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Starting_From</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formulaToday</elementReference>
            </defaultValue>
            <fieldText>Starting From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Until</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>todayplus7</elementReference>
            </defaultValue>
            <fieldText>Until</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Until must be equal to or after Starting From&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Starting_From} &lt;= {!Until}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WorkType</name>
            <choiceReferences>rcsWorkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Scheduled</choiceReferences>
            <choiceReferences>Dispatched</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_there_is_already_Site_Visit_scheduled_on_date_do_NOT_create_new_one</name>
            <dataType>Boolean</dataType>
            <fieldText>If there is already a Service Appointment scheduled on this date do NOT create a new one</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DOWInput</name>
            <extensionName>c:DOWInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>responsedow</assignToReference>
                <name>dow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startTimes</assignToReference>
                <name>thestring</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>durations</assignToReference>
                <name>theduration</name>
            </outputParameters>
        </fields>
        <fields>
            <name>selectTechniciansText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Technicians&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Territory</name>
            <choiceReferences>rcsServiceTerritory</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choiceDefaultTerritoryId</elementReference>
            </defaultValue>
            <fieldText>Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skill</name>
            <choiceReferences>All</choiceReferences>
            <choiceReferences>rcsSkills</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sort_By</name>
            <choiceReferences>Name</choiceReferences>
            <choiceReferences>GanttLabel</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Name</defaultSelectedChoiceReference>
            <fieldText>Sort By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Technicians_0</name>
        <label>Select Technicians</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2_Data_Valid</targetReference>
        </connector>
        <fields>
            <name>MultiTitle_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectTechniciansText_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Technicians&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceResourceDatatable_0</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>ServiceResource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>listTechIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,FSL__GanttLabel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <elementReference>Sort_By</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortDirection</name>
                <value>
                    <stringValue>asc</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTechIds</assignToReference>
                <name>lstSelectedIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTechId</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>435</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_Box_Checked</targetReference>
        </connector>
        <fields>
            <name>WarningTextInfo</name>
            <fieldText>&lt;p&gt;Warning, at least 1 Service Appointment exists for this Work Order.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Appointment: {!find_Existing_Service_Appointments.AppointmentNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you wish to create additional Service Appointments?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_this_box_to_create_additional_SAs</name>
            <dataType>Boolean</dataType>
            <fieldText>Check this box to create additional SAs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>was_RecordId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>durations</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>foundSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>foundWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>listTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pleasedelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responsedow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedTechId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDefaultTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWOSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thestring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
</Flow>
