force-app/main/default/flows/WO_Scheduling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Schedule_Multiple_Visits</name>
        <label>Schedule Multiple Visits</label>
        <locationX>613</locationX>
        <locationY>134</locationY>
        <actionName>SchedMultiVisit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>info1</targetReference>
        </connector>
        <inputParameters>
            <name>dow</name>
            <value>
                <elementReference>responsedow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>durationList</name>
            <value>
                <elementReference>durations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceIds</name>
            <value>
                <elementReference>selectedTechIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starting</name>
            <value>
                <elementReference>Starting_From</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startTimeTextList</name>
            <value>
                <elementReference>startTimes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskDescription</name>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryId</name>
            <value>
                <elementReference>foundSTId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>until</name>
            <value>
                <elementReference>Until</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workorderid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_ids_to_list</name>
        <label>add ids to list</label>
        <locationX>623</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>listTechIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisSTM.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_techs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatched</name>
        <choiceText>Dispatched</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatched</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <name>LNameFName</name>
        <choiceText>LName/FName</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LNameFName</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <decisions>
        <name>was_RecordId_provided</name>
        <label>was RecordId provided</label>
        <locationX>249</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>YesRecordId</label>
        </rules>
        <rules>
            <name>NoRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Work_Order</targetReference>
            </connector>
            <label>NoRecordId</label>
        </rules>
    </decisions>
    <description>Provides co-ordinator with an easy to use point and click scheduler. It allows the co-ordinator to select team members and schedule jobs to them.</description>
    <dynamicChoiceSets>
        <name>rcsServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkOrder</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>WorkOrderNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsWorkType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MV_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>taskDescription</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>date(2020,6,7)</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>{!formulaToday}+7</expression>
    </formulas>
    <interviewLabel>WO Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO Scheduling</label>
    <loops>
        <name>loop_through_techs</name>
        <label>loop through techs</label>
        <locationX>428</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>thisSTM</assignNextValueToReference>
        <collectionReference>foundSTMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_ids_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Technicians</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>find San Francisco</description>
        <name>get_the_default_territory</name>
        <label>get the default territory</label>
        <locationX>54</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_the_STM_s_for_the_territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundWO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>foundSTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_the_STM_s_for_the_territory</name>
        <label>get the STM&apos;s for the territory</label>
        <locationX>206</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_techs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundSTId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>foundSTMs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>54</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_the_default_territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>foundWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <screens>
        <name>info1</name>
        <label>info1</label>
        <locationX>786</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The assignments are being created.&lt;/p&gt;&lt;p&gt;They will appear on the gantt momentarily.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_select_Work_Order</name>
        <label>Please select Work Order</label>
        <locationX>260</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>rcsWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Technicians</name>
        <label>Select Technicians</label>
        <locationX>425</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Schedule_Multiple_Visits</targetReference>
        </connector>
        <fields>
            <name>MultiTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Multi Technician Scheduling&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Starting_From</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formulaToday</elementReference>
            </defaultValue>
            <fieldText>Starting From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Until</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>todayplus7</elementReference>
            </defaultValue>
            <fieldText>Until</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Until must be equal to or after Starting From&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Starting_From} &lt;= {!Until}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Task</name>
            <choiceReferences>rcsWorkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Scheduled</choiceReferences>
            <choiceReferences>Dispatched</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_there_is_already_Site_Visit_scheduled_on_date_do_NOT_create_new_one</name>
            <dataType>Boolean</dataType>
            <fieldText>If there is already Site Visit scheduled on date do NOT create new one</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Save_hours_as_Charged</name>
            <dataType>Boolean</dataType>
            <fieldText>Save hours as &quot;Charged&quot;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DOWInput</name>
            <extensionName>c:DOWInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>responsedow</assignToReference>
                <name>dow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startTimes</assignToReference>
                <name>thestring</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>durations</assignToReference>
                <name>theduration</name>
            </outputParameters>
        </fields>
        <fields>
            <name>selectTechniciansText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Technicians&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Territory</name>
            <choiceReferences>rcsServiceTerritory</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Department</name>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Department</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tech_Type</name>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Tech Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sort_By</name>
            <choiceReferences>LNameFName</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>LNameFName</defaultSelectedChoiceReference>
            <fieldText>Sort By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceResourceDatatable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>ServiceResource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>listTechIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,FSL__GanttLabel__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTechIds</assignToReference>
                <name>lstSelectedIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTechId</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>was_RecordId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>durations</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>foundSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>foundWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>listTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pleasedelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responsedow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTechIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thestring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
</Flow>
